.ade{
    background: #487eb0;
    height: 10vh;
}

.brandi{
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}